margin: 2px 1em 0 auto;
body {
    display: flex;
    flex-direction: column;
    color : white;
    width:150px;
    margin:10px 50px;
    padding:20px;
    font-size:italic;
    color:#000;
    heigh:1000px;
    weigth:2000px;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: ;
    background-color: #888281;
}
header {
    vertical-align: middle;
    flex-direction: column;
    color : white;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    color : white;
}
article{
    flex: 2;
    overflow-y: auto;
    color : white;
}
aside {
    flex: 1;
    overflow-y: auto;
    color : white;
}
footer {
    flex: 1;
    overflow-y: auto; 
    color: white;
}